.youtube-embed {
  position: relative;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  height: 0;
  overflow: hidden;
  margin: 2rem 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.gallery {
  margin: 20px 0;
  
  .gallery-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: block;
  }
} 