---
layout: default
---

<article class="post">
  {% if page.coverImage %}
  <div class="post-cover">
    <img src="{{ page.coverImage | relative_url }}" alt="{{ page.title }} cover image">
  </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {% assign content_with_embeds = content | replace: 'https://youtu.be/', '<div class="youtube-embed"><iframe width="560" height="315" src="https://www.youtube.com/embed/' | replace: 'https://www.youtube.com/watch?v=', '<div class="youtube-embed"><iframe width="560" height="315" src="https://www.youtube.com/embed/' %}
    {% assign content_with_embeds = content_with_embeds | replace: '[embed]https://youtu.be/', '<div class="youtube-embed"><iframe width="560" height="315" src="https://www.youtube.com/embed/' | replace: '[/embed]', '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>' %}
    {{ content_with_embeds }}
  </div>
</article> 